.feedback-form {
  margin: 0 auto;
  width: 408px;
  padding: 24px;
}
.feedback-form,
.feedback-form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.feedback-form input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: inherit;
  outline: transparent;

  transition: border-color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 1px solid #000;
}
.feedback-form input:active {
  border: 1px solid #808080;
}
.feedback-form textarea {
  font-family:Arial, Helvetica, sans-serif;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  height: 80px;
  transition: border-color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 86px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
  align-self: start;
  transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}